<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>

<session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/Szoftverleltar</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <mapping class="szoftverleltar.szoftverleltar.Gep"/>
        <mapping class="szoftverleltar.szoftverleltar.Szoftver"/>
        <mapping class="szoftverleltar.szoftverleltar.Telepites"/>
    </session-factory>
</hibernate-configuration>